header {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 9, 9);
}
body {
  background-image: url("./assets/img/Marvel-Background.jpg");
  /* background-size: cover; */
}
button {
  width: 412px;
  height: 20px;
  background-color: #f11e22;
  color: #ffffff;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f11e22;
  width: 412px;
  margin: 10px;
  color: #ffffff;
}
.heroes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.herosPics {
  max-width: 100px;
}
.welcome {
  font-size: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
